body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.NavBarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(242,200,202);
  width: 80%;
}

.NavBarContainer a{
  color: red;
  font-size: 25px;
}

.links {
  margin-top: 10px;;
  font-size: xx-large;
}
.NavBarContainer img {
  height: 50px;
  width: 50px;
}